{% extends 'base_participante.html' %} {% load static %}

{% block title%}
  Dashboard do Administrador 
{% endblock title %}

{% block style_admin %}
<link rel="stylesheet" href="{% static 'Css/dashb_participante.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{%endblock%}

{% block content_participante %}
  <div class="container-menssagem">
      <section class="area-messagem">
        Bem vindo, {{ participante.nome_participante }}
      </section>
  </div>

  <div class="table-container">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Data de Submissão</th>
                <th>Situação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
            <tr>
                <td>{{ submission.title }}</td>
                <td>{{ submission.submission_date|date:"d/m/Y" }}</td>
                <td class="container-status">
                    <div class="status
                        {% if submission.status == 'enviado' %}status-enviado{% endif %}
                        {% if submission.status == 'processando' %}status-processando{% endif %}
                        {% if submission.status == 'aprovado' %}status-aprovado{% endif %}
                        {% if submission.status == 'recusado' %}status-recusado{% endif %}
        
                    ">
                        {{ submission.get_status_display }}
                    </div>
                </td>

                <td>
                    <div class="dropdown">
                        <span class="dropdown-button">...</span>
                        <div class="dropdown-content">
                            <a style="color: blue;" href="#" class="editar">
                                Editar
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a style="color: red;" href="#" class="cancelar">
                                Cancelar
                                <i class="fa-solid fa-ban"></i>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  <div class="container-button">
    <article class="area-botao">
      <button>
        Nova Submissão
        <i class="fa-solid fa-plus"></i>
      </button>
    </article>
  </div>
{% endblock %}
