{% extends 'base_participante.html' %}
{% load static %}

{% block style_participante%}
    <link rel="stylesheet" href="{% static 'Css/submissao_trabalho.css'%}">
    <link rel="stylesheet" href="{% static 'Css/Midias/Phone/submissao_trabalho_phone.css'%}">
{% endblock %}

{% block content_participante %}
    <div class="page-form">
        <article class="container-form-submissao">
            <a class="link-voltar" href="{% url 'app_participante:dashboard_participante' %}">
                <span>
                    <i class="fa-solid fa-arrow-left"></i>
                    Voltar
                </span>
            </a>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            <div class="sucess">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <header>
                <h2>Submissão de trabalho</h2>
            </header>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-fields">
                    <div class="fields">
                        <label class="title-fildes"  for="">Nome da Escola</label> 
                        <input class="form-field" type="text" name="school_name" placeholder="Nome da Escola" required>

                        <label class="title-fildes"  for="">Área</label>
                        <input class="form-field" type="text" name="area" placeholder="Área" required>

                        <label class="title-fildes"  for="">Estado</label>
                        <select class="form-field" name="state" required>
                            <option value="BA">Bahia</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                        
                        <label class="title-fildes"  for="">Formação</label>
                        <select class="form-field" name="formation" required>
                            <option value="" disabled="" selected="">Escolha a Formação</option>
                            <option value="EnsinoFundamental">Ensino Fundamental</option>
                            <option value="EnsinoMedio">Ensino Médio</option>
                            <option value="EnsinoMedio">Ensino Subsequente</option>
                        </select>

                        <label class="title-fildes"  for="">Forma de apresentação</label>
                        <select class="form-field" name="formOfPresentation" required>
                            <option value="" disabled="" selected="">Forma de apresentação</option>
                            <option value="Exposicao">Exposição</option>
                            <option value="Painel">Painel</option>
                            <option value="Maquete">Maquete</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>

                    <div class="fields">
                        <label class="title-fildes"  for="">Municipio</label>
                        <input class="form-field" type="text" name="municipality" placeholder="Municipio" required>

                        <label class="title-fildes"  for="">Titulo</label>
                        <input class="form-field" type="text" name="title" placeholder="Titulo" required>

                        <label class="title-fildes"  for="">Sub Área</label>
                        <input class="form-field" type="text" name="sub_area" placeholder="Sub Área" required>

                        <label class="title-fildes"  for="">Resumo</label>
                        <textarea name="summary" id="" class="textarea-field" type="text" placeholder="Resumo" required></textarea>
                    </div>
                </div>

                <div class="container-buttons-archive">
                    <div class="button-archive">
                        <label for="file-upload-modelo" class="custom-file-upload">
                            <img class="icon" src="{% static 'images/icone-baixar-modelo.svg' %}" alt="Ícone de modelo">
                            Selecionar arquivo do modelo
                        </label>
                        <input class="form-field" id="file-upload-modelo" type="file" name="arquivo_modelo" required>
                        <span class="file-name">Nenhum arquivo escolhido</span>
                    </div>
                </div>

                <div id="error-archives" class="error-message"  style="display: none;">Por favor, selecione o arquivo de modelo.</div>

                <div class="button-send-form">
                    <button onclick="checkFile()" id="button-send-archives" type="submit">Enviar Submissão</button>
                </div>
            </form>
        </article>
    </div>    
</section>

{% block script %}
    <script src="{% static 'Js/selected-file.js' %}"></script>
    <script src="{% static 'Js/error-message.js' %}"></script>
{% endblock %}
{% endblock %}
