#navBarAdmin{
    display: none;
}

h2 {
    margin-block: 20px;
    font-weight: 700;
    font-family: "Merriweather", serif;
}

.description {
    text-align: center;
    font-size: x-large;
    color: #6D8194;
    margin: 0;
}



#back_button{
    text-decoration: none;
    font-family: "Merriweather", serif;
    font-size: larger;
    width: 100px;
    height: 30px;
    display: flex;
    margin-top: 1.5rem;
    margin-inline: 10%;
    border-radius: 40px;
    border: none;
    justify-content: center;
    align-items: center;
    color: #FFFF;
    background-color: #6D8194;
}

.container-father{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    margin: 5%;
}

.creat-forms-fields {
    display: flex;
    gap: 20px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-chilld {
    display: flex;
    gap: 30px;
    min-height: 50rem;
    height: auto;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFF;
    margin-block: 30px;
    border-radius: 16px;
}

.forms-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 70px;
}

.box-forms{
    width: 100%;
    border: 2px solid red;
}

.container-botao-criar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.fields {
    /* display: flex; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    width: 100%;
    max-width: 100%;
    height: 50px;
    box-sizing: border-box; 
    border-bottom: 2px solid #BFC8E5;
    border-left: none;
    border-right: none;
    border-top: none;
    overflow-x: auto;
    /* overflow-y: hidden; */
  }

.fields::placeholder{
    color: #BFC8E5;
}

.conteiner-fields{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.fields input[type="checkbox"] {
    margin-right: 18px; /* Espaço entre a checkbox e o texto */
    width: 18px;
    height: 18px;
    accent-color: #007bff; /* Cor personalizada para o Bootstrap */
}

.fields input[type="checkbox"]:hover {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Efeito de hover */
}

.fields input[type="checkbox"]:checked {
    background-color: #007bff; /* Cor ao marcar */
    border-color: #007bff;
}

#checkbox_function{
    height: 100px;
    flex-direction: row;
    display: flex;
}



#id_position_member{
    display:flex;
}
