
button {
    border: none;
    background: none;
    padding: 0;
}


.container-pai {
    display: flex;
    justify-content: center;
}

.caixa-de-colaborador {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 90%;
    margin-bottom: 30px;
}

.card-colaborador {
    display: flex;
    height: 250px;
    width: 500px;
    margin-top: 30px;
    flex-direction: column;
    border: 2.5px solid #BFC8E5;
    border-radius: 12px;
    padding: 20px 10px 20px 10px;
    background: #FFF;
}

.caixa-info-membro {
    display: flex;
    flex-direction: row;
    height: 160px;
}

.foto-membro {
    border-radius: 50%;
    margin-right: 10px;
    width: 150px;
    height: 150px;
}

.formation_member {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.formacao-membro img {
    width: 40px;
}

.edit_member{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 5px 10px;
    background-color: #6D8194;
    color: white;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.edit_member:hover{
    color:#FFFF;
    background-color: #516FD4;
    border: 2px solid #516FD4;
    transform: scale(1.05);
}


#img_edit_profile{
    width: 25px;
}

.formacao-container {
    display: flex;
    align-items: center;
    height: auto;
    width: 65%;
    gap: 10px;
}

.formacao-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 130px;
    border: 3px solid #BFC8E5;
    border-radius: 20px;
}

.formacao-container p {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #516FD4;
}

.formacao {
    margin-bottom: 4px;
}

.nome-membro {
    font-family: "Merriweather", serif;
    font-size: 25px;
    font-weight: 600;
}

.cargo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.empty {
    margin-top: 30px;
    font-size: 30px;
}

/* ESTILO DA PAGINAÇÃO */
.container-paginacao {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.container-botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
}

.indice-paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration: none;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    color: #6D8194;
    border: 2px solid #6D8194;
    transition: all 300ms ease;
}

.indice-paginacao:hover {
    background: #6D8194;
    color: #FFF;
}

.indice-paginacao.active {
    background: #6D8194;
    color: #FFF;
    border-color: #6D8194;
}

.container-botoes a {
    transition: all 300ms ease;
}

.titulos-paginas {
    text-align: center;
    margin: 60px 0 40px 0;
}

.texto-atividades {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #868E96
}

.icone-seta-direita, .icone-seta-esquerda {
    font-size: 30px;
    color: #6D8194;
}

.add_member_button{
    margin-inline: 5%
}


.creat-sworn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #6D8194;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.creat-sworn i {
    font-size: 18px;
}

.creat-sworn:hover {
    color:#FFFF;
    background-color: #516FD4;
    border: 2px solid #516FD4;
    transform: scale(1.05);
}



.funtion_title{
    font-size: larger;
    color: #516FD4;
}

/* ---------------- estilos do modal de editar perfil  ---------------*/

.button_edit_member{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 10px;
    background-color: #6D8194;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease-in-out, transform 0.2s;
}




#editMemberModal{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0; 
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-inline: 8%;
    padding-top: 4%;
    width: 70%;
    height: 80%;
    right: -17%;
    top: 10%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.8rem;
    outline: 0;
}

#editMemberForm{
        display: flex;
        /* align-items: center; */
        flex-direction: column;
}
.button_save_edit  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #FFF;
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 2px solid #8A84E2;
    border-radius: 10px;
    background: #8A84E2;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.button_save_edit:hover{
    color: #8A84E2;
    background: #FFF;
    border-color:#8A84E2 ;
    
}

.container_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8%;
}

.fields {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    width: 100%;
    max-width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-bottom: 2px solid #BFC8E5;
    border-left: none;
    border-right: none;
    border-top: none;
    overflow-x: auto;
}

.fields::placeholder{
    color: #BFC8E5;
}
  
.fields:focus{
    outline: none;
    border-bottom:  4px solid #8A84E2;
    border-left:none ;
    border-right:none ;
    border-top: none;
}

.title-fildes {
    color: #6D8194;
    text-align: left;
    font-weight: 600;
    font-size: medium;
    font-family: "Poppins", sans-serif;
}