{% extends 'base_admin.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{%  block style_admin %}
<link rel="stylesheet" href="{% static 'Css/screen_submission.css' %}">
<link rel="stylesheet" href="{% static 'Css/Midias/Phone/submission-phone-admin.css' %}">
{% endblock  %}

<!-- bloco de conteudo da tela onde o administrador fecitec pode ver as submissoes  -->
{% block content_admin %} 
<h3>tela : TRABALHOS SUBMETIDOS</h3>

<section class="father_table">
    <tbody>
        <table>
            <tr>
                <th class="table_header">coluna1</th>
                <th class="table_header">coluna2</th>
                <th class="table_header">coluna3</th>
                <th class="table_header">coluna4</th>
                <th class="table_header">coluna5</th>
                <th class="table_header">coluna6</th>
            </tr>
            <tr>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
            </tr>
            <tr>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
            </tr>
            <tr>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
            </tr>
            <tr>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
            </tr>
            <tr>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
            </tr>
            <tr>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
                <td class="children_table"></td>
            </tr>
        </table>
    </tbody>
</section>



{% endblock content_admin %} 