{% extends 'base_admin.html' %}
{% load static %}

{% block title%}
  Screen Commission
{% endblock title %}

{% block style_admin %}
<link rel="stylesheet" href="{% static 'Css/screen_admin_comissao.css'%}">

{%endblock%}

{% block content_admin %}
 
  <article class="titulos-paginas">
      <p class="texto-atividades">Membros da Comissão Academica </p>
  </article>

  <button class="add_member_button">
    <a href="{% url 'admin_fecitec:admin_add_member' %}" class="creat-sworn" id="show-create-sworn-forms"> Cadastrar Membro 
      <i class="fa-solid fa-user-plus"></i>
    </a>
  </button>


    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if form.non_field_errors %}
        <div class="error-message">
            {{ form.non_field_errors }}
        </div>
    {% endif %}


  <div class="container-pai">
      <div class="caixa-de-colaborador">
          {% for member in comission %}
              <article class="card-colaborador">
                  <section class="caixa-info-membro">
                      <img class="foto-membro"
                        src="{% if member.member_profile %}{{ member.member_profile.url }}{% else %}/static/img/default_profile.png{% endif %}"
                        alt=" Foto " >

                      <div class="caixa-nome-cargo">
                          <h2 class="nome-membro">{{ member.name_member }}</h2>
                          <p class="funtion_title"> Funções do membro :</p>
                          <p class="cargo"> {{ member.position_member }} . </p>
                      </div>
                  </section>

                  <section class="formation_member">
                    <div class="formacao-container">
                        <img src="{% static 'images/icone-instagram-card-comissao.svg' %}" alt="Ícone Instagram">
                        <div>
                            <p class="formacao">{{ member.formation_member }}</p>
                        </div>
                    </div>
                    
                    <div> {% comment %} botao de editar membro da comissao academica  {% endcomment %}
                        <button id="button_edit" class="button_edit_member" onclick="openEditModal(
                            '{{ member.id|escapejs }}',
                            '{{ member.name_member|escapejs }}',
                            '{{ member.email_member|escapejs }}',
                            '{{ member.phone_member|escapejs }}',
                            '{{ member.formation_member|escapejs }}',
                            '{{ member.position_member|escapejs }}',
                            '{{ member.password1|escapejs }}',
                            '{{ member.password2|escapejs }}'
                        )">
                            Editar membro
                            <img id="img_edit_profile" src="{% static 'img/edit_member.svg' %}" alt="Icone de Editar">        
                        </button>
                    </div> {% comment %} Fim botao de editar membro da comissao academica  {% endcomment %}
                  </section>
              </article>
          {% empty %}
              <div class="empty">
                  <p>Nenhum membro encontrado.</p>
              </div>
          {% endfor %}
      </div>
  </div>
  
  <article class="container-paginacao">

    <div class="container-botoes">
        <!-- Link para a página anterior -->
        {% if comission.has_previous %}
            <a href="{% url 'admin_fecitec:admin_commission' %}?page_membros={{ comission.previous_page_number }}" class="paginacao-link">
                <i class="fa-solid fa-arrow-left icone-seta-direita"></i>

                {% comment %} <img class="icon" src="{% static 'images/icone-seta-esquerda.svg' %}" alt="Ícone esquerda"> {% endcomment %}
            </a>
        {% endif %}

        <!-- Exibir os números das páginas -->
        {% for num in comission.paginator.page_range %}
            {% if num >= comission.number|add:"-2" and num <= comission.number|add:"2" %}
                {% if num == comission.number %}
                    <a href="?page_membros={{ num }}" class="indice-paginacao active">{{ num }}</a>
                {% else %}
                    <a href="?page_membros={{ num }}" class="indice-paginacao">{{ num }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}


        <!-- Link para a próxima página -->
        {% if comission.has_next %}
            <a href="{% url 'admin_fecitec:admin_commission' %}?page_membros={{ comission.next_page_number }}" class="paginacao-link">
                <i class="fa-solid fa-arrow-right icone-seta-direita"></i>
                
                {% comment %} <img class="icon" src="{% static 'images/icone-seta-direita.svg' %}" alt="Ícone direita"> {% endcomment %}
            </a>
        {% endif %}
    </div>
</article>


<!-- Modal de editar perfil membro -->
<div id="editMemberModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Editar Membro</h2>
        <form id="editMemberForm" method="POST" action="{% url 'admin_fecitec:edit_member' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="content_filds">
                <input class="fields" type="hidden" id="memberId" name="memberId">
                <label class="title-fildes" for="name">Nome:</label>
                <input class="fields" type="text" id="name" name="name">

                <label class="title-fildes" for="email">Email:</label>
                <input class="fields" type="email" id="email" name="email">

                <label class="title-fildes" for="phone">Telefone:</label>
                <input class="fields" type="text" id="phone" name="phone">

            </div>
            
            <label class="title-fildes" >Formação: </label>
            <div >
                <input type="checkbox" id="doutor" name="formation" value="Doutor">
                <label class="title-fildes" for="doutor"> Doutor </label>

                <input type="checkbox" id="mestre" name="formation" value="Mestre">
                <label class="title-fildes" for="mestre"> Mestre </label>

                <input type="checkbox" id="especialista" name="formation" value="Especialista">
                <label class="title-fildes" for="especialista"> Especialista </label>
            </div>

            <label class="title-fildes" >Funções: </label>
            <div>
                <input type="checkbox" id="funcao_jurado" name="funcao" value="Jurado">
                <label class="title-fildes" for="jurado">Jurado</label>

                <input type="checkbox" id="funcao_avaliador" name="funcao" value="Avaliador">
                <label class="title-fildes"for="avaliador">Avaliador</label>

                <input type="checkbox" id="funcao_administrador" name="funcao" value="Administrador">
                <label class="title-fildes" for="administrador">Administrador</label>
            </div>
            <div class="container_button">
                <button class="button_save_edit" type="submit">Salvar Alterações</button>
            </div>

            
        </form>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'Js/modal_edit_member.js' %}"></script>
{% endblock %}