{% extends 'base_admin.html' %}
{% load static %}

{% block title%}
  Register jurors
{% endblock title %}

{% block style_admin %}
<!-- estilo aqui -->
 <link rel="stylesheet" href="{% static 'Css/registered_member.css' %}">
{% endblock %}

{% block content_admin %} 



<div class= "container-chilld" >
  <a id="back_button" href="{% url 'admin_fecitec:admin_commission' %}"> Voltar </a> 
  
  <div id="create-account-forms" >

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if form.non_field_errors %}
      <div class="error-message">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <h2> Adcione um Novo Membro da Comissão Acadêmica  </h2>

    <p class="description">Preencha os Campos para criar sua conta como Participante da Fecitec</p>

    <div class="box-forms">
      
      <div class="box-forms">
        <section>
          <form id= "forms_cadastro" action="{% url 'admin_fecitec:admin_add_member' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

            <div class="creat-forms-fields">  
              <div class="fields-content">
                <section class="forms-content">
                  <div>
                    <label>{{ form.name_member.label }}</label>
                    {{ form.name_member }}
    
                    <label>{{ form.email_member.label }}</label>
                    {{ form.email_member }}

                    <label>{{ form.password1.label }}</label>
                    {{ form.password1 }}

                    <label>{{ form.password2.label }}</label>
                    {{ form.password2 }}
    
                  </div> <!-- fim da div dos campos da direita -->
                  <div>
                    <label>{{ form.member_profile.label }}</label>
                    {{ form.member_profile }}

                    <label>{{ form.position_member.label }}</label>
                    {{ form.position_member }}

                    <label>{{ form.phone_member.label }}</label>
                    {{ form.phone_member }}
    
                    <label>{{ form.formation_member.label }}</label>
                    {{ form.formation_member }}
                  </div>
                </section>
              </div>
 
              <div class="container_btn_register">
                <button class="btn_register" type="submit">Cadastrar</button>
              </div>
            </div> 
          </form>
      </section>
      </div>
    </div> 
  </div> 
</div>
{%endblock%}