{% extends 'base_admin.html' %}
{% load static %}

{% block title%}
  register jurors
{% endblock title %}

{% block style_admin %}
<!-- estilo aqui -->
 <link rel="stylesheet" href="{% static 'Css/registered_member.css' %}">
{% endblock %}

{% block content_admin %} 
 <h2> Adcione um Novo Membro da Comissão Acadêmica  </h2>

<button>
  <a href="{% url 'admin_fecitec:admin_commission' %}"> Voltar </a>
</button>


<div class="container-father" id="container-father">
  <div class="container-chilld" id="create-account-forms" >
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li class="error">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  
    <div class="box-forms">
      <div class="fields-content">
        <section>
          <form action="{% url 'admin_fecitec:admin_add_member' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              
              <div>
                  <label>{{ form.name_member.label }}</label>
                  {{ form.name_member }}
  
                  <label>{{ form.email_member.label }}</label>
                  {{ form.email_member }}
  
                  <label>{{ form.phone_member.label }}</label>
                  {{ form.phone_member }}
  
                  <label>{{ form.formation_member.label }}</label>
                  {{ form.formation_member }}
  
                  <label>{{ form.member_profile.label }}</label>
                  {{ form.member_profile }}

                  <label>{{ form.position_member.label }}</label>
                  {{ form.position_member }}

                  <label>{{ form.password1.label }}</label>
                  {{ form.password1 }}

                  <label>{{ form.password2.label }}</label>
                  {{ form.password2 }}

                </div>
  
              <button type="submit">Cadastrar</button>
          </form>
      </section>
      </div>
    </div> 
  </div> 
</div>
{%endblock%}