{% extends 'base_admin.html' %}
{% load static %}

{% block title%}
  Screen Participants
{% endblock title %}

{% block style_admin %}
<link rel="stylesheet" href="{% static 'Css/screen_ participant.css' %}">
{%endblock%}

{% block content_admin %}
  <h2 class="title_page">Participantes </h2>
  
<div class="container-father">
  <div class="father-search-desktop">
    <form action="">
        <div class="container-search-bar">
        <input type="text" class="seachr-bar" name="buscar" placeholder="Buscar" />
        <img class="search-icon" src="{% static 'images/icone-lupa.svg' %}" alt="lupa">
        </div>
    </form>
  </div>
  <div class="table-container">
    <table class="responsive-table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nome Participante</th>
                <th scope="col">Submissões</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {%for participante in participantes %}
            <tr>
                <td >
                    {{participante.id}}
                    <!-- <div class="participant_phonto"> <img class="participant_phonto" src="https://avatars.githubusercontent.com/u/148590574?v=4" alt=""></div> -->
                </td>
                <td >
                    {{participante.nome_participante}}
                </td>
                <td >
                    {{ participante.total_submissoes }}
                </td>
                <td>
                    {{participante.email_participante}}
                </td>
                <td>
                    {{participante.celular}}
                </td>
                <td class="container-status">
                    <div class="dropdown">
                        <span class="dropdown-button">...</span>
                        <div class="dropdown-content">
                            <a style="color:#79B6DE;" href="#" class="editar">
                                Editar
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a style="color: red;" href="#" class="cancelar">
                                Cancelar
                                <i class="fa-solid fa-ban"></i>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>

            
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>


{% endblock %}