{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'Css/aprovados.css' %}">
<link rel="stylesheet" href="{% static 'Css/Midias/Phone/aprovados-phone.css' %}">
<link rel="stylesheet" href="{% static 'Css/Midias/Tablet/aprovados-tablet.css' %}">

{% endblock style%}

{% block title %}Aprovados{% endblock %}

{% block content %}
<div class="container-table">
    <div class="content_father">
        <!-- <form action="">
            
            <div class="test">
                <input type="text" class="seachr-bar" class="test2" name ="buscar" placeholder="Buscar" >
                <i class="fas fa-search" id="lupa"></i>
            </div>
        </form> -->

        <div class="content_child">
            <section class="title_table">
                <article class="presented">
                    <h2> Trabalhos apresentados </h2>
                    <img src="{% static 'images/icone-banner.svg'%}" alt="">
                </article>
                <div class="barracks"></div>
            </section>
            <section class="table-responsive"> <!-- dessa div deixa a tabela responsiva para midias menores  -->
                <table class="table_approved">
                    <thead class="cabecalho_table">
                        <th w-10%>Titulo</th>
                        <th>Orientador</th>
                        <th>Turmo de Apresentação</th>
                        <th>Integrantes</th>
                    </thead>
                    <tbody>
                        <tr class="li_table">
                            <td style="width: 25%;">linha1</td>
                            <td style="width: 25%;">linha2</td>
                            <td style="width: 15%;">linha3</td>
                            <td style="width: 35%;">linha4</td>
                        </tr>
                        <tr class="li_table">
                            <td class="conteudo_li">columa 1</td>
                            <td class="conteudo_li">columa 2</td>
                            <td class="conteudo_li">columa 4</td>
                            <td class="conteudo_li">columa 3</td>
                        </tr>
                        <tr class="li_table">
                            <td class="conteudo_li">columa 1</td>
                            <td class="conteudo_li">columa 2</td>
                            <td class="conteudo_li">columa 4</td>
                            <td class="conteudo_li">columa 3</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            
        </div>
    </div>
</div>    
     
{% endblock %}