{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- importacao de icones -->
    <link rel="stylesheet" href="{% static 'Css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Css/home.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Midias/midias.css'%}">
    <link rel="stylesheet" href="{% static 'Css/Midias/notebook.css'%}">
    {% block style %}
        <!--colocar o link do css do html pertencente -->
    {% endblock style%}
</head>
<body>
    <header>  
        <div id="topo" class="fecitec-logo">
            <h1>FECITEC</h1>
            <img src="{% static 'images/Icone-fecitec.svg' %}" alt="">
        </div>
        <div class="paragrafo-logo">
            <span>Inovação Sustentável e tecnologia Sociais no Século XXI</span> <br>
            <span>Transforme a realidade </span>
        </div>
    </header>
    <nav class="nav-bar">
        <a href="{% url 'home' %}"> Home </a>
        <a href="{% url 'cronograma' %}"> Cronograma </a>
        <a href="{% url 'submissao' %}"> Submissão </a>
        <a href="{% url 'aprovados' %}"> Aprovados </a>
        <a href="{% url 'certificados' %}"> Cerificados </a>
        <a href="{% url 'regulamento' %}"> Regulamento </a>
        <a href="{% url 'comissao' %}"> Comissão </a>
        <a href="{% url 'contate' %}"> Contate-nos </a>
        <a href="{% url 'login'%}"> Login </a>
        <div class="animation"></div>
    </nav>
    <main>
        {% block content %}
        <!-- Content will go here -->
        {% endblock %}
    </main>

    <footer>
        <div class="icone-seta">
            <a href="#topo">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#BFC8E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 19V6M5 12l7-7 7 7"></path>
                </svg>
            </a>
        </div>
        
        <div class="container-footer">
            <div class="item">
                <p>IF Baiano</p>
                <div class="caixa-icones-footer">
                    <div class="elementos-caixa-icones-footer">
                        <a href=""><img src="{% static 'images/icone-whatsapp-footer.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'images/icone-instagram-footer.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'images/icone-youtube-footer.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'images/icone-threads-footer.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'images/icone-tiktok-footer.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'images/icone-facebook-footer.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="item">
                <p>Realização</p>
                <img class="logo-if" src="{% static 'images/logo-if.svg' %}" alt="">
            </div>

            <div class="item">
                 <p>Apoio</p>
                 <img src="" alt="">
            </div>
        </div>

        <p class="copyright">2024 - Feira de Ciência e Tecnologia do Município de Senhor do Bonfim e do Território de Identidade do Piemonte Norte do Itapicuru.</p>
    </footer>
</body>
</html>