{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Tangsa:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Tangsa:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<!-- ^^^^^^ importando fontes ^^^^^^^^ -->

<link rel="stylesheet" href="{% static 'Css/login.css' %}">
<link rel="stylesheet" href="{% static 'Css/Midias/Phone/login-phone.css' %}">
<link rel="stylesheet" href="{% static 'Css/Midias/Tablet/login-tablet.css'%}">

{% endblock style%}

{% block title %} Login_Participante {% endblock %}

{% block content %}
<div class="container-father2" id="container-father2">
    <div class="container-chilld" id="create-account-forms" >
        <h2>Crie sua conta</h2>
        <p class="text_description">Preencha os Campos para criar sua conta como Participante da Fecitec</p>  
        <div>
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="error">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
        <div class="box-forms">
            <div class="fields-content">
                <section>
                    <form id="forms_cadastro" action="{% url 'fecitec:cadastro_participante'  %}" method="POST" class="creat-forms-fields">
                        {% csrf_token %}
                        
                        <div class="forms-content">
                            <div class="center_item">
                                {{ form.nome_participante.label_tag }}
                                {{ form.nome_participante }}
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                {{ form.email_participante.label_tag }}
                                {{ form.email_participante }}
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                                {{ form.celular.label_tag }}
                                {{ form.celular }}
                            </div>
                            <div class="center_item">
                                {{ form.cidade.label_tag }}
                                {{ form.cidade }}
                                {{ form.cep_pacticipante.label_tag }}
                                {{ form.cep_pacticipante}}
                                {{ form.bairro.label_tag }}
                                {{ form.bairro }}
                                {{ form.endereco.label_tag }}
                                {{ form.endereco }}
                                {{ form.estado_participante.label_tag }}
                                {{ form.estado_participante }}
                                {{form.formacao_participante.label_tag}}
                                {{form.formacao_participante}}  
                            </div>

                        <div class="container-botao-criar">
                            <a href="{% url 'fecitec:login_participante' %}" class="creat-accont" id="show-login-forms">Já tenho uma conta</a>
                            <button type="submit" class="btn-criar">Criar Conta</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
  <script src="{% static 'Js/switchLoginForms.js' %}"></script>
{% endblock %}