{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'Css/comissao.css'%}">
<link rel="stylesheet" href="{% static 'Css/Midias/Phone/comissao-phone.css' %}">
<link rel="stylesheet" href="{% static 'Css/Midias/Tablet/comissao-tablet.css' %}">
<link rel="stylesheet" href="{% static 'Css/Midias/BigDesktop/comissao-bigDesktop.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
{% endblock style%}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-pai">
        <div class="caixa-de-colaborador">
            {% for member in comission %}
                <article class="card-colaborador">
                    <section class="caixa-info-membro">
                        <img class="foto-membro" src="{{ member.image.url }}" alt="{{ member.name }} - Foto">

                        <div class="caixa-nome-cargo">
                            <h2 class="nome-membro">{{ member.name }}</h2>
                            <p class="cargo">{{ member.position }}</p>
                        </div>
                    </section>

                    <section class="formacao-membro">
                        <div class="formacao-container">
                            <img src="{% static 'images/icone-instagram-card-comissao.svg' %}" alt="Ícone Instagram">
                            <div>
                                <p class="formacao">{{ member.formation }}</p>
                            </div>
                        </div>
                    </section>
                </article>
            {% empty %}
                <div class="empty">Nenhum membro encontrado.</div>
            {% endfor %}
        </div>


    </div>

    <article class='container-paginacao'>
        <div class="container-botoes">
            {% if comission.has_previous %}
                <a href="{% url 'comissao' %}?page={{ comission.previous_page_number }}">
                    <img class="icon" src="{% static 'images/icone-seta-esquerda.svg' %}" alt="">
                </a>
            {% endif %}

            <div class="indice-paginacao">{{ current_page }}</div>

            {% if comission.has_next %}
                <a href="{% url 'comissao' %}?page={{ comission.next_page_number }}">
                    <img class="icon" src="{% static 'images/icone-seta-direita.svg' %}" alt="">
                </a>
            {% endif %}
        </div>
    </article>
{% endblock %}
