{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Tangsa:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Tangsa:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<!-- ^^^^^^ importando fontes ^^^^^^^^ -->

<link rel="stylesheet" href="{% static 'Css/contate.css'%}">
<link rel="stylesheet" href="{% static 'Css/Midias/Phone/contate-phone.css'%}">
<link rel="stylesheet" href="{%static 'Css/Midias/Tablet/contate-tablet.css'%}">

{% endblock style%}

{% block title %}Contate-nos{% endblock %}

{% block content %}
<div class="container-father">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="sucess">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <h2>Envie sua Mensagem</h2>
    <div class="box-forms">
        <div class="fields-content">
            <form method="post" action="{% url 'fecitec:contate' %}" class="forms-fields" >
                {% csrf_token %}
                <div class="form-field">
                    <label class="title-fildes"  for="">Nome</label>
                    {{ form.name }}
                </div>

                <div class="form-field">
                    <label class="title-fildes"  for="">E-mail</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <ul class="error-list">
                            {% for error in form.email.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label class="title-fildes"  for="">Númerpo</label>
                    {{ form.phone_number }}
                    {% if form.email.errors %}
                        <ul class="error-list">
                            {% for error in form.phone_number.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="form-field">
                    <label class="title-fildes"  for="">Escreva uma mensagem</label>
                    {{ form.message }}
                </div>

                <div class="container-botao-entrar">
                    <button type="submit" class="btn-login"> Enviar </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% block script %}
    <script src="{% static 'Js/number-mask.js' %}"></script>
{% endblock %}
{% endblock %}