{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="caixa-cards">
    <section class="cards-home">
        <article class="card">
            <img src="{% static 'images/icone-foguete.svg' %}" alt="">
            <p class="titulo-card">Submissão</p>
            <p>
                Para ter acesso a programação completa da Feira de Ciência e Tecnologia do Município de Senhor do Bonfim e do Território de Identidade do Piemonte Norte do Itapicuru, <a href="">clique aqui</a>. 
            </p>
            <p>Atualizado em 15/07/2023</p>
        </article>

        <article class="card">
            <img src="{% static 'images/icone-calendario.svg' %}" alt="">
            <p class="titulo-card">Programação</p>
            <p>
                Para ter acesso a programação completa da Feira de Ciência e Tecnologia do Município de Senhor do Bonfim e do Território de Identidade do Piemonte Norte do Itapicuru, <a href="">clique aqui</a>.
            </p>
            <p>Atualizado em 15/07/2023</p>
        </article>

        <article class="card">
            <img src="{% static 'images/icone-premiacao.svg' %}" alt="">
            <p class="titulo-card">Premiação</p>
            <p>
                Para ter acesso a programação completa da Feira de Ciência e Tecnologia do Município de Senhor do Bonfim e do Território de Identidade do Piemonte Norte do Itapicuru, <a href="">clique aqui</a>.
            </p>
            <p>Atualizado em 15/07/2023</p>
        </article>
    </section>

    <div class="caixa-card-maior">
        <article>
            <p>
                A X FECITEC &#40;Feira de Ciências, Inovações e Tecnologias&#41; tem como principal objetivo incentivar estudantes de escolas públicas e privadas do ensino fundamental, médio e técnico a desenvolver uma compreensão prática da ciência e tecnologia. A feira demonstra como esses conhecimentos podem ser aplicados no cotidiano, promovendo a criação de projetos interdisciplinares que fomentam o espírito investigativo. Além disso, a FECITEC busca identificar jovens talentosos e incentivá-los a seguir carreiras na pesquisa científica.
            </p>
        </article>

        <img src="{% static 'images/icone-fecitec.svg' %}" alt="">
    </div>

    <div class="midias-sociais">
        <p>Mídias Sociais</p>
        <div class="caixa-icones-midias-socias">
            <article>
                <div>
                    <a href=""><img class="img-youtube" src="{% static 'images/icone-youtube-midias-sociais.svg' %}" alt="">
                    <figcaption>Youtube</figcaption></a>
                </div>

                <div>
                    <a href=""><img class="img-instagram" src="{% static 'images/icone-instagram-midias-sociais.svg' %}" alt="">
                    <figcaption>Instagram</figcaption></a>
                </div>
            
                <div>
                    <a href=""><img class="img-tiktok" src="{% static 'images/icone-tiktok-midias-sociais.svg' %}" alt="">
                    <figcaption>Tiktok</figcaption></a>
                </div>

                <div>
                    <a href=""><img class="img-facebook" src="{% static 'images/icone-facebook-midias-sociais.svg' %}" alt="">
                    <figcaption>Facebook</figcaption></a>
                </div>

                <div>
                    <a href=""><img class="img-threads" src="{% static 'images/icone-threads-midias-sociais.svg' %}" alt="">
                    <figcaption>Threads</figcaption></a>
                </div>

                <div>
                    <a href=""><img class="img-whatsapp" src="{% static 'images/icone-whatsapp-midias-sociais.svg' %}" alt="">
                    <figcaption>Whatsapp</figcaption></a>
                </div>
                
            </article>
        </div>
    </div>
        <section class="localizacao-do-evento">
            <article>
                <p class="texto-localizacao">Localização do evento!</p>
            </article>

            <article>
                <p class="texto-instituto-federal">Instituto Federal Baiano </p>
            </article>

            <div></div>
        </section>
        
        <div class="caixa-do-mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.6994196606975!2d-40.151817515644204!3d-10.445409487539267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x76d5853b7d6672d%3A0x59f8cd6f00ec8510!2sInstituto%20Federal%20de%20Educa%C3%A7%C3%A3o%2C%20Ci%C3%AAncia%20e%20Tecnologia%2C%20Campus%20Senhor%20do%20Bonfim!5e0!3m2!1spt-BR!2sbr!4v1729689071480!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    


</div>

{% endblock %}