{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'Css/mapa.css'%}">
<link rel="stylesheet" href="{% static 'Css/home.css' %}">
<link rel="stylesheet" href="{% static 'Css/Midias/Phone/home-phone.css'%}">
<link rel="stylesheet" href="{% static 'Css/Midias/Tablet/home-tablet.css'%}">
{% endblock style%}

{% block title %}Home{% endblock %}

{% block content %}
<div class="caixa-cards">
    <section class="cards-home">
        <article class="card">
            <img src="{% static 'images/icone-foguete.svg' %}" alt="">
            <p class="titulo-card">Submissão</p>
            <p>
                Para ter acesso a programação completa da Feira de Ciência e Tecnologia do Município de Senhor do Bonfim e do Território de Identidade do Piemonte Norte do Itapicuru, <a href="">clique aqui</a>. 
            </p>
            <p>Atualizado em 15/07/2023</p>
        </article>

        <article class="card">
            <img src="{% static 'images/icone-calendario.svg' %}" alt="">
            <p class="titulo-card">Programação</p>
            <p>
                Para ter acesso a programação completa da Feira de Ciência e Tecnologia do Município de Senhor do Bonfim e do Território de Identidade do Piemonte Norte do Itapicuru, <a href="">clique aqui</a>.
            </p>
            <p>Atualizado em 15/07/2023</p>
        </article>

        <article class="card">
            <img src="{% static 'images/icone-premiacao.svg' %}" alt="">
            <p class="titulo-card">Premiação</p>
            <p>
                Para ter acesso a programação completa da Feira de Ciência e Tecnologia do Município de Senhor do Bonfim e do Território de Identidade do Piemonte Norte do Itapicuru, <a href="">clique aqui</a>.
            </p>
            <p>Atualizado em 15/07/2023</p>
        </article>
    </section>

    <div class="caixa-card-maior">
        <article>
            <p>
                A X FECITEC &#40;Feira de Ciências, Inovações e Tecnologias&#41; tem como principal objetivo incentivar estudantes de escolas públicas e privadas do ensino fundamental, médio e técnico a desenvolver uma compreensão prática da ciência e tecnologia. A feira demonstra como esses conhecimentos podem ser aplicados no cotidiano, promovendo a criação de projetos interdisciplinares que fomentam o espírito investigativo. Além disso, a FECITEC busca identificar jovens talentosos e incentivá-los a seguir carreiras na pesquisa científica.
            </p>
        </article>

        <img src="{% static 'images/icone-fecitec.svg' %}" alt="">
    </div>

    <div class="midias-sociais">
        <p>Mídias Sociais</p>
        <div class="caixa-icones-midias-socias">
            <article>
                <div>
                    <a href=""><img class="img-youtube" src="{% static 'images/icone-youtube-midias-sociais.svg' %}" alt="">
                    <figcaption>Youtube</figcaption></a>
                </div>

                <div>
                    <a href=""><img class="img-instagram" src="{% static 'images/icone-instagram-midias-sociais.svg' %}" alt="">
                    <figcaption>Instagram</figcaption></a>
                </div>
            
                <div>
                    <a href=""><img class="img-tiktok" src="{% static 'images/icone-tiktok-midias-sociais.svg' %}" alt="">
                    <figcaption>Tiktok</figcaption></a>
                </div>

                <div>
                    <a href=""><img class="img-facebook" src="{% static 'images/icone-facebook-midias-sociais.svg' %}" alt="">
                    <figcaption>Facebook</figcaption></a>
                </div>

                <div>
                    <a href=""><img class="img-threads" src="{% static 'images/icone-threads-midias-sociais.svg' %}" alt="">
                    <figcaption>Threads</figcaption></a>
                </div>

                <div>
                    <a href=""><img class="img-whatsapp" src="{% static 'images/icone-whatsapp-midias-sociais.svg' %}" alt="">
                    <figcaption>Whatsapp</figcaption></a>
                </div>   
            </article>
        </div>
    </div>
</div>

{% block mapa %}
    {% include "partials/mapa.html" %}
{% endblock %}

{% endblock %}