{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Tangsa:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+Tangsa:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<!-- ^^^^^^ importando fontes ^^^^^^^^ -->

<link rel="stylesheet" href="{% static 'Css/login.css'%}">

{% endblock style%}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container-father">
    <h2>Login</h2>
    <div class="box-forms">
        <div class="fields-content">
            <form action="" class="forms-fields" >
                <input type="text" class="fields" placeholder="Nome Completo">
                <input type="text" class="fields" placeholder="Senha">
                <div class="dropdown">
                    <button type="button" onclick="showMenu()" class="dropdown-button">
                      Dropdown
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" id="chevron" class="chevron-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                      </svg>
                    </button>
                    <div class="dropdown-content">
                      <a href="#" class="dropdown-link">Administrador</a>
                      <a href="#" class="dropdown-link">Jurado</a>
                      <a href="#" class="dropdown-link">Participante</a>
                    </div>
                  </div>    
                <button class="btn-login"> Login </button>
        </div>
    </div>
</div>

{% endblock %}