{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'Css/regulamento.css'%}">
{% endblock style%}

{% block title %}Home{% endblock %}

{% block content %}
<!-- o nome da classe sanfona item foi colocado assim para evidar conflidos com classes do bootstrap  -->
<div class="accordion-container">
  <div class="sanfona-item">
      <button class="accordion-button">Para os Participantes</button>
      <div class="accordion-content">
          <p>Conteúdo relacionado a Para os Participantes.</p>
      </div>
  </div>
  <div class="sanfona-item">
      <button class="accordion-button">Processo de Submissão</button>
      <div class="accordion-content">
          <p>Conteúdo relacionado a Processo de Submissão.</p>
      </div>
  </div>
  <div class="sanfona-item">
      <button class="accordion-button">Área de conhecimento</button>
      <div class="accordion-content">
          <p>Conteúdo relacionado a Área de conhecimento.</p>
      </div>
  </div>
  <div class="sanfona-item">
    <button class="accordion-button">Submissão e Avaliação dos Resumos </button>
    <div class="accordion-content">
        <p>Conteúdo relacionado a Área de conhecimento.</p>
  </div>
  <div class="sanfona-item">
    <button class="accordion-button">Caracterização do Trabalho </button>
    <div class="accordion-content">
        <p>Conteúdo relacionado a Área de conhecimento.</p>
  </div>
  <div class="sanfona-item">
    <button class="accordion-button">Julgamento do Trabalho </button>
    <div class="accordion-content">
        <p>Conteúdo relacionado a Área de conhecimento.</p>
  </div>
  <div class="sanfona-item">
    <button class="accordion-button">Certificados</button>
    <div class="accordion-content">
        <p>Conteúdo relacionado a Área de conhecimento.</p>
  </div>
</div>
  <!-- Adicione mais itens de acordeão aqui -->
</div>

{% endblock %}

{% block script %}
  <script src=" static/Js/acordion.js " ></script>
{% endblock %}