{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'Css/submissao.css'%}">

<link rel="stylesheet" href="{% static 'Css/Midias/Phone/submissao-phone.css'%}">
<link rel="stylesheet" href="{% static 'Css/Midias/Tablet/submissao-tablet.css'%}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<!-- ^^^^^^ importando fontes ^^^^^^^^ -->
{% endblock style%}

{% block title %}Submissão{% endblock %}

{% block content %}

<section id="page1" class="sessao-de-instrucoes page active">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="sucess">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <article class="caixa-texto-submissao">
        <h1 class="texto-instrucoes">Instruções</h1>
        <img class="icone-certificado" src="{% static 'images/icone-certificado.svg' %}" alt="">
    </article>

    <div class="barra-inferior-instrucoes"></div>

    <article class="card-de-instrucoes">
        <p>
            <span>1</span> Os projetos devem ser submetidos na forma de resumo, constando no máximo uma lauda.
        </p>

        <p>
            <span>2</span> Os critérios de seleção dos trabalhos levarão em conta o consenso entre os membros da Comissão Científica, a respeito da estrutura e formatação &lpar;organização lógica do trabalho e adequação ao modelo sugerido para o evento&rpar;, redação &lpar;clareza, qualidade ortográfica e gramatical&rpar;, relevância e principalmente, a contribuição do trabalho para a comunidade acadêmica e a sociedade em geral. Além de propostas voltadas ao empreendedorismo ou ao desenvolvimento sustentável da região.
        </p>

        <p>
            <span>3</span> Os trabalhos poderão ser aprovados sem correção, com correção ou reprovados.
        </p>

        <p>
            <span>4</span> Os trabalhos aprovados com correção serão encaminhados ao professor orientador, a fim de que as correções sejam realizadas. A equipe que não apresentar as correções em até oito dias após o encaminhamento do e-mail de notificação será desclassificada do evento.
        </p>
    </article>

    <article class="caixa-botao-download">
        <button type="" class="botao-area-submissao" onclick="showPage('page2')">
            Área de Submissão
        </button>

        <button type="" class="botao-modelo-resumo">
            <img class="icon" src="{% static 'images/icone-baixar-modelo.svg' %}" alt="">
            Baixe o modelo <br> do resumo
        </button>
        
        <button type="" class="botao-modelo-panner">
            <img class="icon" src="{% static 'images/icone-baixar-panner.svg' %}" alt="">
            Baixe o modelo <br> do panner
        </button>
    </article>
</section>

<section id="page2" class="page">
    <div class="page-form">
        <article class="container-form-submissao">
            <header>
                <h2>Submissão de trabalho</h2>
            </header>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-fields">
                    <div class="fields">
                        <input class="form-field" type="text" name="school_name" placeholder="Nome da Escola" required>
                        <input class="form-field" type="text" name="area" placeholder="Área" required>
                        <select class="form-field" name="state" required>
                            <option value="" disabled="" selected="">Estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                        
                        <select class="form-field" name="formation" required>
                            <option value="" disabled="" selected="">Escolha a Formação</option>
                            <option value="EnsinoFundamental">Ensino Fundamental</option>
                            <option value="EnsinoMedio">Ensino Médio</option>
                            <option value="EnsinoMedio">Subsequente</option>
                        </select>

                        <select class="form-field" name="formOfPresentation" required>
                            <option value="" disabled="" selected="">Forma de apresentação</option>
                            <option value="Exposicao">Exposição</option>
                            <option value="Painel">Painel</option>
                            <option value="Maquete">Maquete</option>
                            <option value="Outro">Outro</option>
                        </select>
                    </div>

                    <div class="fields">
                        <input class="form-field" type="text" name="municipality" placeholder="Municipio" required>
                        <input class="form-field" type="text" name="title" placeholder="Titulo" required>
                        <input class="form-field" type="text" name="sub_area" placeholder="Sub Área" required>
                        <textarea name="summary" id="" class="textarea-field" type="text" placeholder="Resumo" required></textarea>
                    </div>
                </div>

                <div class="container-buttons-archive">
                    <div class="button-archive">
                        <label for="file-upload-modelo" class="custom-file-upload">
                            <img class="icon" src="{% static 'images/icone-baixar-modelo.svg' %}" alt="Ícone de modelo">
                            Selecionar arquivo do modelo
                        </label>
                        <input class="form-field" id="file-upload-modelo" type="file" name="arquivo_modelo" required>
                        <span class="file-name">Nenhum arquivo escolhido</span>
                    </div>

                    <div class="button-archive">
                        <label for="file-upload-panner" class="custom-file-upload">
                            <img class="icon" src="{% static 'images/icone-baixar-panner.svg' %}" alt="Ícone de panner">
                            Selecionar arquivo do panner
                        </label>
                        <input class="form-field" id="file-upload-panner" type="file" name="arquivo_panner" required>
                        <span class="file-name">Nenhum arquivo escolhido</span>
                    </div>
                </div>

                <div id="error-archives" class="error-message" style="display: none;">Por favor, selecione ambos os arquivos.</div>

                <div class="button-send-form">
                    <button onclick="checkFile()" id="button-send-archives" type="submit">Enviar Submissão</button>
                </div>
            </form>
        </article>
    </div>    
</section>

{% block script %}
    <script src="{% static 'Js/switch-pages.js' %}"></script>
    <script src="{% static 'Js/selected-file.js' %}"></script>
    <script src="{% static 'Js/error-message.js' %}"></script>
{% endblock %}

{% endblock %}
