

@media (max-width: 576px) {
    .navbar {
        display: none;
    }

    .navigation-bar {
        display: none;
    }

    .elementos-caixa-icones-footer {
        justify-content: center;
    }

    .logo-if {
        width: 130px;
    }

    /*.table_approved{
         border-collapse: separate;
        border-spacing: 10px;
        border: solid 2px #BFC8E5;
        background-color: #FBFCFF;
        border-radius: 40px;
        width: 90%;
        margin-inline: 20px;
        padding-block: 30px;
        padding-inline: 30px;
    } */

    /* header {
        padding: 5px;
    } */

    /* ###################### Estilo banner ###################### */
    /* Logo */
    .logo {
        width: 80px;
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        margin-top: 5px;
        z-index: 2;
    }


    .banner{
        background: linear-gradient(135deg, #474dc5, #343885);
        height: 195px;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0 20px;
        color: white;
        overflow: hidden;
    }

    .text {
        display: flex;
        flex-direction: column;
        z-index: 2;
      }
      
      .title {
        font-size:xx-large;
        font-family: "Krona One", sans-serif;
      }

      .subtitle {
        font-size:smaller;
        text-align: center;
        font-weight: 500;
        color: #B7D3F2;
      }
      

    /* ###################### fim do estilo banner############# */
    .navigation{
        margin-top: 5px;
        display: block;
        width: 5rem;
    }
    .nav-bar{
        display: none;
    }

    #menu
  {
    width: 20rem;
  }


  .content_father {
    /* overflow: hidden; */
    display: flex;
    gap: 0px;
    flex-direction: column;
    /* margin-block: 10rem; */
    }
    .content_child{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .container-table{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: #F5F5FD;
        justify-content: center;
        width: 100%;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .seachr-bar{
        display: none;
    }
    
    
    #lupa {
        display: none;
        position:  relative;
        left: 14rem; 
        top: -35px;
        font-size: 22px;
        color:#8a84e2;
        
    }

    .icone-certificado {
        width: 40px;
    }

    .texto-instrucoes {
        font-size: 40px;
    }

    .barra-inferior-instrucoes {
        width: 90%;
    }

    .card-de-instrucoes {
        width: 90%;
    }
}