

@media (max-width: 576px) {
    .elementos-caixa-icones-footer {
        justify-content: center;
    }

    .logo-if {
        width: 130px;
    }

    .table_approved{
        /* border-collapse: separate;
        border-spacing: 10px;
        border: solid 2px #BFC8E5;
        background-color: #FBFCFF;
        border-radius: 40px;
        width: 90%;
        margin-inline: 20px;
        padding-block: 30px;
        padding-inline: 30px; */
    }

    header {
        padding: 5px;
    }

    .fecitec-logo h1 {
        font-size: 40px;
    }

    .fecitec-logo img {
        width: 40px;
        height: 65px;
    }

    .fecitec-logo {
        height: 47%;
        display: flex;
    }

    .paragrafo-logo {
        font-size: 13px;
    }
    .navigation{
        margin-top: 5px;
        display: block;
        width: 5rem;
    }
    .nav-bar{
        display: none;
    }

    #menu
  {
    width: 20rem;
  }


  .content_father {
    /* overflow: hidden; */
    display: flex;
    gap: 0px;
    flex-direction: column;
    /* margin-block: 10rem; */
    }
    .content_child{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .container-table{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: #F5F5FD;
        justify-content: center;
        width: 100%;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .seachr-bar{
        display: none;
    }
    
    
    #lupa {
        display: none;
        position:  relative;
        left: 14rem; 
        top: -35px;
        font-size: 22px;
        color:#8a84e2;
        
    }

    .icone-certificado {
        width: 40px;
    }

    .texto-instrucoes {
        font-size: 40px;
    }

    .barra-inferior-instrucoes {
        width: 90%;
    }

    .card-de-instrucoes {
        width: 90%;
    }
}