/* Tablets */
@media (min-width: 577px) and (max-width: 885px) {

    .navigation{
        margin-top: 5px;
        display: block;
        width: 5rem;
    }
    .nav-bar{
        display: none;
    }

    #menu
  {
    width: 30rem;
  }

    .icone-certificado {
      width: 40px;
  }

  .texto-instrucoes {
      font-size: 40px;
  }

  .barra-inferior-instrucoes {
      width: 70%;
  }

  .card-de-instrucoes {
      width: 70%;
  }

  
  .father-search-desktop{
    display: none;

}

.container-search-bar{
    position: relative;
    display: inline-block;
}

.search-icon{
    position:absolute;
    top: 50%;
    right: 180px;
    transform: translateY(-50%);
    width: 20px; /* Ajuste o tamanho do ícone */
    height: 20px;
    pointer-events:none;
}

.seachr-bar{
    display: block;
    width: 18rem;
    position:relative;
    top: 3px;
    margin-inline:10rem;
    color:#8a84e2;
    background-color: #FBFCFF;
    font-weight:600;
    font-size: larger;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 20px;
    border:2px solid #868E96;   
    /* box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.2); */
}

.seachr-bar::placeholder {
  color: #8a84e2; /* Altere para a cor desejada */
  opacity: 1; /* Ajuste a opacidade conforme necessário (1 é totalmente opaco) */
}

.seachr-bar:focus {
  outline: none; /* Remove o contorno padrão do navegador */
  border: 0.2px solid #a0b7c9; /* Define uma borda personalizada */
  box-shadow: 0 0 5px #343885; /* Opcional: adiciona um efeito de sombra para realçar o campo */
}
}