/* Tablets */
@media (min-width: 577px) and (max-width: 885px) {
    .container-father{
        gap: 20px;
        width: 70% ;
        height: 640px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFFF;
        margin-block: 30px;
        border-radius: 16px;
     }

     .container-search-bar{
      display: none;
    }
    .container-chilld {
        display: flex;
        gap: 30px;
        min-height: 40rem;
        height: auto;
        padding: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFFF;
        margin-block: 30px;
        border-radius: 16px;
    }
}