
@media (max-width: 576px) {
    .father-search-desktop{
        display: none;
    }

    .seachr-bar {
        display: block;
        width: 13rem;
        position: absolute;
        top: -25px;
        left: 0;
        margin-inline: 9rem;
        color: #8a84e2;
        background-color: #FBFCFF;
        font-weight: 600;
        font-size: larger;
        padding-inline: 20px;
        padding-block: 10px;
        border-radius: 20px;
        border: 2px solid #868E96;
        /* box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.2); */
    }

    .navigation {
        margin-top: 5px;
        display: block;
        width: 5rem;
    }
    
    .search-icon {
        position: absolute;
        top: 50%;
        left: 300px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        pointer-events: none;
    }

    .tabela-scroll{
        display: block;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch; /* Para dispositivos iOS */
        width: 100%;
    }

    .tabela-scroll table {
        width: 100%;
        table-layout: fixed;
    }
    
    .father_table {
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .table-responsive table {
        min-width: 600px;
    }
    
    .table th, .table td {
        white-space: nowrap;
    }


}