@media(min-width: 750px) and (max-width: 1100px) {
    .father-search-desktop{
        display: none;
    }
    
    .navigation-bar-admin {
        display: none;
    }

    .content-checkbox {
        display: none;
    }

    .seachr-bar{
        margin-inline:6rem;
        color:#8a84e2;
        background-color: #FBFCFF;
        font-weight:600;
        font-size: larger;
        padding-inline: 20px;
        padding-block: 10px;
        width: 30rem;
        border-radius: 20px;
        border:2px solid #868E96;   
        /* box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.2); */
    }
    
    .seachr-bar::placeholder {
        color: #8a84e2; /* Altere para a cor desejada */
        opacity: 1; /* Ajuste a opacidade conforme necessário (1 é totalmente opaco) */
    }
    
    .seachr-bar:focus {
        outline: none; /* Remove o contorno padrão do navegador */
        border: 0.2px solid #a0b7c9; /* Define uma borda personalizada */
        box-shadow: 0 0 5px #343885; /* Opcional: adiciona um efeito de sombra para realçar o campo */
    }
    
    
    .search-icon {
        position: absolute;
        top: 50%;
        left: 490px;
        transform: translateY(75%);
        width: 20px;
        height: 20px;
        pointer-events: none;
    }

    .user_photo{
        position: sticky;
        right: 3%;
    }
}