/* Dispositivos Móveis (Smartphones) */
@media (max-width: 576px) {
    .content_child {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; 

    .table_approved {
        min-width: 600px; 
    }
}
}

@media (max-width: 576px) {
    .elementos-caixa-icones-footer {
        justify-content: center;
    }

    .logo-if {
        width: 130px;
    }

    .table_approved{
        /* border-collapse: separate;
        border-spacing: 10px;
        border: solid 2px #BFC8E5;
        background-color: #FBFCFF;
        border-radius: 40px;
        width: 90%;
        margin-inline: 20px;
        padding-block: 30px;
        padding-inline: 30px; */
    }

    header {
        padding: 5px;
    }

    .fecitec-logo h1 {
        font-size: 40px;
    }

    .fecitec-logo img {
        width: 40px;
        height: 65px;
    }

    .fecitec-logo {
        height: 47%;
        display: flex;
    }

    .paragrafo-logo {
        font-size: 13px;
    }
    .navigation{
        margin-top: 5px;
        display: block;
        width: 5rem;
    }
    .nav-bar{
        display: none;
    }

    #menu
  {
    width: 20rem;
  }

}