/* Tablets */
@media (min-width: 577px) and (max-width: 885px) {

    .navigation{
        margin-top: 5px;
        display: block;
        width: 5rem;
    }
    .nav-bar{
        display: none;
    }

    #menu
  {
    width: 30rem;
  }

    .icone-certificado {
      width: 40px;
  }

  .texto-instrucoes {
      font-size: 40px;
  }

  .barra-inferior-instrucoes {
      width: 70%;
  }

  .card-de-instrucoes {
      width: 70%;
  }
}