/* Laptops e Desktops Pequenos */
@media (min-width: 993px) and (max-width: 1200px) {
    /*Classe que fica animada em baixo do nome */
   nav .animation{
       position: absolute;
       height: 5px;
       bottom: 0;
       z-index: 0;
       background-color: #007BFF;
       border-radius: 8px;
       transition: all .5s ease 0s;
       
   }
   
   
   a:nth-child(1){
       width: 100px;
   }
   nav .start-home,a:nth-child(1):hover~ .animation{
       width: 58px;
       left: 20px;
   }
   
   a:nth-child(2){
       width: 110px;
   }
   nav .start-cronograma,a:nth-child(2):hover~ .animation{
       width: 130px;
       left: 148px;
   }
   
   a:nth-child(3){
       width: 100px;
   }
   nav .start-submissao,a:nth-child(3):hover~ .animation{
       width: 102px;
       left: 324px;
   }
   
   a:nth-child(4){
       width: 160px;
   }
   nav .start-aprovados,a:nth-child(4):hover~ .animation{
       width: 100px;
       left: 510px;
   }
   
   a:nth-child(5){
       width: 120px;
   }
   nav .start-certificados,a:nth-child(5):hover~ .animation{
       width: 110px;
       left: 46.9rem;
   }
   
   a:nth-child(6){
       width: 120px;
   }
   nav .start-regulamento,a:nth-child(6):hover~ .animation{
       width: 126px;
       left: 58.2rem;
   }
   
   a:nth-child(7){
       width: 120px;
   }
   nav .start-comissao,a:nth-child(7):hover~ .animation{
       width: 90px;
       left: 71.2rem;
   }
   a:nth-child(8){
       width: 120px;
   }
   nav .start-contato,a:nth-child(8):hover~ .animation{
       width: 120px;
       left: 82rem;
   }
   a:nth-child(9){
       width: 120px;
   }
   nav .start-login,a:nth-child(9):hover~ .animation{
       width: 62px;
       left: 95.8rem;
   }
   
   }

   /* Tablets Grandes e Laptops */
@media (min-width: 769px) and (max-width: 992px) {
    .navigation{
        display: none;
    }
}