.seachr-bar{
    margin-inline:6rem;
    color:#8a84e2;
    background-color: #FBFCFF;
    font-weight:600;
    font-size: larger;
    padding-inline: 20px;
    padding-block: 10px;
    width: 30rem;
    border-radius: 20px;
    border:2px solid #868E96;   
    /* box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.2); */
}

.seachr-bar::placeholder {
    color: #8a84e2; /* Altere para a cor desejada */
    opacity: 1; /* Ajuste a opacidade conforme necessário (1 é totalmente opaco) */
}

.seachr-bar:focus {
    outline: none; /* Remove o contorno padrão do navegador */
    border: 0.2px solid #a0b7c9; /* Define uma borda personalizada */
    box-shadow: 0 0 5px #343885; /* Opcional: adiciona um efeito de sombra para realçar o campo */
}


#lupa {
    display: flex;
    position:  relative;
    left: 32rem; 
    top: -35px;
    font-size: 22px;
    color:#8a84e2;
    
}

.container-table{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #F5F5FD;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.content_father{
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-block: 10rem;
}

.content_child{
    gap: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.table_approved {
    width: 90%;
    border-collapse: separate;
    border-spacing: 10px;
    border: solid 2px #BFC8E5;
    background-color: #FBFCFF;
    border-radius: 16px;
    margin-inline: 20px;
    padding-block: 30px;
    padding-inline: 30px;
}

.presented{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.barracks {
    height: 4px;
    border-radius: 40px;
    background-color: #8a84e2;
}

.title_table{
  color: #8a84e2; }


.cabecalho_table{
    font-weight: 800;
    color: #0F1141;
}

th, td {
    padding: 8px;
    text-align: left;
    border: none;
    background-color: #FBFCFF;
    
}

td{
    font-weight: 500;
    color: #0F1141;
}