main{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: 700;
    font-family: "Merriweather", serif;
 }

 textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    outline: none;
    padding: 10px;
    border: 2px solid #BFC8E5;
    resize: none;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
 }

.container-father{
    gap: 20px;
    width: 640px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFF;
    margin-block: 30px;
    border-radius: 16px;
 }

 .container-father{
    gap: 20px;
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFF;
    margin-block: 30px;
    padding: 10px 0 40px 0;
    border-radius: 16px;
 }

 .forms-fields{
    display: flex;
    gap: 30px;
    flex-direction: column;
 }

.box-forms {
    width: 80%;
}

.form-field input {
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   outline: none;
   width: 100%;
   height: 36px;
   border-bottom:2px solid  #BFC8E5;
   border-left:none ;
   border-right:none ;
   border-top: none;
}

.form-field input:focus {
   outline: none;
   border-bottom:  4px solid #8A84E2;
   border-left:none ;
   border-right:none ;
   border-top: none;
}

 .btn-login{
    font-family: "Merriweather", serif;
    width: 380px;
    height: 58px;
    display: flex;
    border-radius: 40px;
    border: none;
    justify-content: center;
    align-items: center;
    color: #FFFF;
    background-color:#6D8194 ;
 }

 .container-botao-entrar {
    display: flex;
    justify-content: center;
 }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.messages {
   font-size: 30px;
   font-weight: 600;
   color: green;
}

.error-list .error {
   color: red;
}

.title-fildes{
   color:#6D8194;
   text-align: left;
   font-weight: 600;
   font-size:medium;
   font-family: "Poppins", sans-serif;
 
 }