figcaption {
    font-weight: 600;
}

body {
    background: #F5F5FD;;
}

.caixa-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.cards-home {
    display: flex;
    justify-content: space-around;
    width: 70%;
    flex-wrap: wrap;
}

.caixa-cards .cards-home img {
    width: 70px;
    margin-bottom: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    padding: 10px;
    border: 2.5px solid #BFC8E5;
    border-radius: 12px;
    background: #FFF;
}

.titulo-card {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #868E96;
}

.caixa-card-maior {
    text-align: justify;
    font-size: 26px;
    text-align: center;
    width: 68%;
    padding: 20px 150px 10px 150px;
    border: 2.5px solid #BFC8E5;
    border-radius: 12px;
    background: #FFF;
}

.caixa-card-maior img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;    
}

.midias-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

.midias-sociais p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 300;
    color:#868E96;
}

.caixa-icones-midias-socias {
    background: #FFF;
    margin-bottom: 50PX;
    width: 30%;
    border: 2.5px solid #BFC8E5;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.caixa-icones-midias-socias article {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-items: center;
    width: 100%;
}

.caixa-icones-midias-socias article a {
    text-decoration: none;
    color: #000;
}

.caixa-icones-midias-socias article a:hover {
    color: #000;
}

.img-youtube {
    width: 90px;
}

.img-instagram {
    margin-top: 12px;
    margin-bottom: 9px;
    width: 70px;
}

.img-tiktok {
    margin-top: 10px;
    margin-bottom: 13px;
    width: 71px;
}

.img-facebook {
    margin-top: 50px;
    margin-bottom: 7px;
    width: 80px;
}

.img-threads {
    margin-top: 55px;
    margin-bottom: 8px;
    width: 75px;
}

.img-whatsapp {
    margin-top: 60px;
    margin-bottom: 13px;
    width: 65px;
}

.localizacao-do-evento {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 300;
    color:#868E96;
    display: block;
    text-align: center;
}

.localizacao-do-evento div {
    border-radius: 10px;
    display: block;
    background: #8A84E2;
    width: 300px;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 60px;
}


.texto-localizacao {
    color: #8A84E2;
    margin-bottom: 0;
    font-size: 55px;
}

.texto-instituto-federal {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 0;
}

.titulos-paginas {
    text-align: center;
    margin: 60px 0 40px 0;
}

.texto-atividades {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: #868E96
}


@media (max-width: 768px) {
    .cards-home {
        width: 90%;
    }

    .card {
        margin-top: 10px;
        width: 45%;
    }

    .caixa-card-maior {
        width: 80%;
        padding: 20px 50px 10px 50px;
    }
}
