/* ESTILO DO CABEÇALHO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
  background: #F5F5FD;
}

h1 {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #FFF;
    background: #343885;
}

span {
    font-family: "Krona One", sans-serif;
    font-style: normal;
}

.container-table{
  width: 100%; /* Defina a largura conforme necessário */
  overflow-x: auto; /* Habilita o scroll horizontal */
  white-space: nowrap; /* Garante que o conteúdo não quebre em várias linhas */
}

.fecitec-logo h1 {
    display: flex;
    padding-bottom: 20px;
    margin: 0;
    align-items: end;
}

.fecitec-logo img {
    margin-bottom: 50px;
    margin-left: 10px;
    width: 80px;
    height: 150px;
}

.fecitec-logo { 
    height: 70%;
    display: flex;
}

.paragrafo-logo {
    text-align: center;
}

@media (max-width: 575.98px) {
    .fecitec-logo { 
        height: 77px !important;
    }
}

/* ESTILO DO NAVBAR */

.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #FFF;
    padding: 20px 0;
    position: relative;
    border-bottom: 3px solid #BFC8E5;
}

.nav-bar a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: Arial, sans-serif;
    position: relative;
    padding: 10px 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

/*Classe que fica animada em baixo do nome */
.nav-bar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #007BFF;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

/* Quando passar o mouse */
.nav-bar a:hover::after {
    width: 100%;
}

/* Mudança de cor e efeito de subida do texto ao passar o mouse */
.nav-bar a:hover {
    color: #007BFF;
    transform: translateY(-5px);
}



/* ESTILO DO FOOTER */
footer {
    border-top: 4px solid #BFC8E5;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
    background: #FFF;

}

.copyright {
    color: #868E96;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.caixa-icones-footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.elementos-caixa-icones-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-items: center;
    width: 30%;
}

.icone-seta {
    display: flex;
    justify-content: center;
}

.icone-seta svg {
    margin-bottom: 15px;
    border-right: 3px solid #BFC8E5;
    border-bottom: 3px solid #BFC8E5;
    border-left: 3px solid #BFC8E5;
    border-radius: 10px;
    width: 80px;
}




@media (max-width: 980.98px) {
    .item {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    .container-footer {
        grid-template-columns: repeat(1, 1fr);
    }
}



  .select-as {
    text-decoration: none;
    color: #000;
    opacity:1;
    font-family:  Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
  }
  a:hover {
    
    opacity:0.5;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  
  
  .container {
    margin-top: 50px; 
    Display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    border: 1px solid #36383F;
    border-radius: 20px;
    width: 94%;
    height: 91%;
    background-color: #F5F6FA;
    overflow: hidden;
  }
  #navigation {
    background-color: #343885;
    /* border: solid 2px #BFC8E5; */
    height: 65px;
    border-radius: 30px 30px 30px 30px;
  }
  .navigation{
    display: none;
  }
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 22px;
    z-index: 1;
    -webkit-user-font-familyct: none;
    user-select: none;
  }
  
  

  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #BFC8E5;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #3f3c36;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    border-radius: 30px;
    position: absolute;
    width: 24rem;
    height: 50rem;
    box-shadow: 0 0 10px #343885;
    margin: -38px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F5FD;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 14px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }